{% extends 'layout.html' %}
{% load filters %}
{% block main %}
    <div class="card" data-aos="fade-left" data-aos-offset="10" data-aos-easing="linear" data-aos-duration="500">
        <h4 class="card-header">{{heading}}</h4>
        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} mt-2">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <form action="" method="post" novalidate>
                {% csrf_token %}
                <table class="table table-bordered table-sm">
                    {% for field in form %}
                        <tr>
                            <th>
                                {{field.label_tag}}
                                {% if field.field.required %}
                                    <span class="text-danger">*</span>
                                {% endif %}
                            </th>
                            <td>
                                {% if field.errors %}
                                    {{ field|add_class:"form-control is-invalid" }}
                                {% else %}
                                    {{ field|add_class:"form-control" }}
                                {% endif %}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2">
                            <input type="submit" class="btn btn-sm btn-success" value="{{heading}}">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
