{% extends 'layout.html' %}
{% load filters %}
{% block main %}
    <div class="card" data-aos="fade-left" data-aos-offset="10" data-aos-easing="linear" data-aos-duration="500">
        <h4 class="card-header">
            {{page_title}} ({{data.count}})
            <a href="{% url 'add-visit' patient_id %}" class="float-end btn btn-sm btn-success"><i class="fa-solid fa-plus"></i>Add Visits</a>
        </h4>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-hover text-center text-nowrap">
                    <thead>
                        <tr>
                            <th>SL.</th>
                            <th>Visit Date</th>
                            <th>Detail</th>
                            <th>Medicine</th>
                            <th>Amount</th>
                            <th>Next Visit</th>
                            <th>Next Visit Date</th>
                            <th>Note</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if data %}
                            {% for row in data %}
                                <tr class="cursor-pointer">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ row.visit_date|date:'d-m-Y' }}</td>
                                    <td>{{ row.detail }}</td>
                                    <td>{{ row.medicine_detail }}</td>
                                    <td>{{ row.amount }}</td>
                                    <td>{{ row.next_visit }}</td>
                                    <td>{{ row.visit_date|add_date:row.next_visit|date:'d-m-Y' }}</td>
                                    <td>{{ row.note }}</td>
                                    <td>
                                        <a href="{% url 'update-visit' row.id %}" class="text-info" title="Update">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                        <a href="{% url 'delete-visit' row.id %}" class="text-danger" title="Delete" onclick="return confirm('Are you sure you want to delete this patient?');">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="10">No visits found.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
