{% extends 'layout.html' %}
{% block main %}
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <div class="card" data-aos="fade-left" data-aos-offset="10" data-aos-easing="linear" data-aos-duration="500">
        <h4 class="card-header">{{page_title}}</h4>
        <div class="card-body">
            <div class="row">
              <form action="" method="get" class="row">
                <div class="col-4">
                      <div class="d-flex justify-content-start">
                        <div class="me-2">
                          <select name="chart_type" class="mb-3 form-control">
                              <option value="daily" {% if request.GET.chart_type and request.GET.chart_type == 'daily' %} selected {% endif %}>Daily</option>
                              <option value="monthly" {% if request.GET.chart_type and request.GET.chart_type == 'monthly' %} selected {% endif %}>Monthly</option>
                              <option value="yearly" {% if request.GET.chart_type and request.GET.chart_type == 'yearly' %} selected {% endif %}>Yearly</option>
                          </select>
                        </div>
                        <div>
                          <button type="submit" class="btn btn-secondary">Change</button>
                        </div>
                      </div>
                  </div>
                  {% if not request.GET.chart_type or request.GET.chart_type and request.GET.chart_type != 'yearly' %}
                    <div class="col-8">
                      <div class="row">
                        <div class="col-4">
                            <select name="year" class="mb-3 form-control">
                                <option disabled>--- Select Year ---</option>
                                  {% for year in years %}
                                    <option {% if year.added_time__year == curr_year %} selected {% endif %} >{{year.added_time__year}}</option>
                                  {% endfor %}
                            </select>
                        </div>
                        {% if request.GET.chart_type != 'monthly' %}
                          <div class="col-4">
                              <select name="month" class="mb-3 form-control">
                                  <option disabled>--- Select Month ---</option>
                                    {% for month in months %}
                                        <option value="{{month.number}}" {% if month.name == curr_month %} selected {% endif %} >{{month.name}}</option>
                                    {% endfor %}
                              </select>
                          </div>
                        {% endif %}
                        <div class="col-4">
                        <button type="submit" class="btn btn-secondary">Submit</button>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                </form>
                {% if not request.GET.chart_type or request.GET.chart_type and request.GET.chart_type == 'daily' %}
                  <div class="col-12">
                      <div id="chartDaily"></div>
                  </div>
                {% endif %}

                {% if request.GET.chart_type and request.GET.chart_type == 'monthly' %}
                  <div class="col-12">
                      <div id="chartMonthly"></div>
                  </div>
                {% endif %}

                {% if request.GET.chart_type and request.GET.chart_type == 'yearly' %}
                  <div class="col-12">
                      <div id="chartYearly"></div>
                  </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        var dailyOptions = {
          series: [{
            name: "Patients",
            data: {{ dailyChart.dailyChartValues|safe }}
        }],
          chart: {
          height: 350,
          type: 'line',
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        title: {
          text: 'Daily Chart',
          align: 'left'
        },
        grid: {
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        yaxis: {
          min: 1,
          labels: {
            formatter: function (value) {
              return value;
            },
          },
        },
        xaxis: {
          categories: {{ dailyChart.dailyChartLabels|safe }},
        }
        };

        var dailyChart = new ApexCharts(document.querySelector("#chartDaily"), dailyOptions);
        dailyChart.render();

        var monthlyOptions = {
          series: [{
            name: "Patients",
            data: {{ monthlyChart.monthlyChartValues|safe }}
        }],
          chart: {
          height: 350,
          type: 'line',
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        title: {
          text: 'Monthly Chart',
          align: 'left'
        },
        grid: {
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        yaxis: {
          min: 1,
          labels: {
            formatter: function (value) {
              return value;
            },
          },
        },
        xaxis: {
          categories: {{ monthlyChart.monthlyChartLabels|safe }},
        }
        };

        var monthlyChart = new ApexCharts(document.querySelector("#chartMonthly"), monthlyOptions);
        monthlyChart.render();
        
        var yearlyOptions = {
          series: [{
            name: "Patients",
            data: {{ yearlyChart.yearlyChartValues|safe }}
        }],
          chart: {
          height: 350,
          type: 'line',
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        title: {
          text: 'Yearly Chart',
          align: 'left'
        },
        grid: {
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        yaxis: {
          min: 1,
          labels: {
            formatter: function (value) {
              return value;
            },
          },
        },
        xaxis: {
          categories: {{ yearlyChart.yearlyChartLabels|safe }},
        }
        };

        var yearlyChart = new ApexCharts(document.querySelector("#chartYearly"), yearlyOptions);
        yearlyChart.render();
    </script>
{% endblock %}
