
{% extends 'root_layout.html' %}
{% block content %}
    <div class="container-fluid mt-3 mb-3">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-12 col-md-3 mb-3">
                <div class="list-group">
                    <a href="{% url 'doctor_dashboard' %}" class="list-group-item list-group-item-action {% if 'dashboard' in request.path %} active {% endif %}">Dashboard</a>
                    <a href="{% url 'quick-add-patient' %}" class="list-group-item list-group-item-action {% if 'quick-add-patient' in request.path %} active {% endif %}">Quick add patient</a>
                    <a href="{% url 'all-patients' %}" class="list-group-item list-group-item-action{% if 'patients' in request.path %} active {% endif %}">Manage patient</a>
                </div>
                <div class="list-group mt-3">
                    <a href="{% url 'reports' %}" class="list-group-item list-group-item-action{% if 'reports' in request.path %} active {% endif %}">Total Patient Reports</a>
                    <a href="{% url 'collection_reports' %}" class="list-group-item list-group-item-action{% if 'collection-report' in request.path %} active {% endif %}">Collection Reports</a>
                </div>
            </div>

            <!-- Main Content -->
            <div class="col-12 col-md-9">
                {% block main %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
