{% extends 'layout.html' %}
{% load filters %}
{% block main %}
    <div class="card">
        <h4 class="card-header">
            Add Patient ({{data.count}})
            <a href="{% url 'add-patients' %}" class="float-end btn btn-sm btn-success"><i class="fa-solid fa-plus"></i>Add Patients</a>
        </h4>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-hover">
                    <tr>
                        <th>Sl No.</th>
                        <th>Name</th>
                        <th>Added Time</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Detail</th>
                        <th>Medicine</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                    {% if data %}
                        {% for row in data %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{row.name}}</td>
                                <td>{{row.added_time}}</td>
                                <td>{{row.age}}</td>
                                <td>{{row.gender}}</td>
                                <td>{{row.detail}}</td>
                                <td>{{row.medicine_detail}}</td>
                                <td>{{row.amount}}</td>
                                <td>
                                    <a href="#" class="text-info"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a href="#" class="text-danger"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
