{% extends 'root_layout.html' %}
{% block content %}
    <div class="row mt-3">
        <div class="col-3">
            <div class="list-group">
                <a href="{% url 'home' %}" class="list-group-item list-group-item-action">Home</a>
                <a href="{% url 'doctor_dashboard' %}" class="list-group-item list-group-item-action {% if 'dashboard' in request.path %} active {% endif %} ">Dashboard</a>
                <a href="{% url 'quick-add-patient' %}" class="list-group-item list-group-item-action {% if 'quick-add-patient' in request.path %} active {% endif %} ">Quick add patient</a>
                <a href="#" class="list-group-item list-group-item-action">Manage patient</a>
                <a href="{% url 'doctor_logout' %}" class="list-group-item text-danger list-group-item-action">Logout</a>
                <a href="{% url 'doctor_change_password' %}" class="list-group-item text-danger list-group-item-action">Reset Password</a>
            </div>
        </div>
        <div class="col-9">
            {% block main %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
